---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Contact Us" id="contact">
  <div class="contact-links">
    <a href="https://github.com/osu-ai-recycling/ai-recycling">
      <Icon name="mdi:github"/> GitHub repository
    </a>
    <a href="mailto:rahul@remote-x.ai">
      <Icon name="mdi:email"/> Email our project partner
    </a>
  </div>
</ContentSection>
